.podcast {
  margin-top: 5%;
  position: relative;
  margin-bottom: 3.35rem;
}

.podcast--unit {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-bottom: 2.9rem;
}

@media screen and (min-width: 720px) {
  .podcast--unit {
    /* flex-direction: row; */
    width: 60%;
  }
}

.pocast--image-block {
}

.podcast--image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

@media screen and (min-width: 520px) {
  .podcast--image {
    height: 150px;
    width: 150px;
  }
}

.podcast--text {
  padding-left: 20px;
}

.podcast--title {
  margin-bottom: 0.725rem;
}
